@import '../../styles/variables.scss';

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;

	.mat-toolbar {
		height: $header-toolbar-height;
		min-height: auto;

		button {
			margin: 0 2px;
		}

		/deep/ .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
			display: none;
		}
	}
}