@import '../../styles/variables.scss';

#home-component {
	h2 {
		margin-top: 30px;
		margin-bottom: 24px;

		span.title {
			position: relative;

			button {
				position: absolute;
				top: -6px;
				right: -45px;
			}
		}
	}

	#suggested-songs {
		.img-wrapper:hover, .img-wrapper.active {
			img {
				filter: brightness(0.5);
				transform: scale(1.2);
			}

			span {
				display: block;
			}
		}

		img {
			transition: all 300ms ease;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: 1000;
		}

		.img-wrapper {
			cursor: pointer;
			position: relative;
			overflow: hidden;

			span {
				color: $song-icon-color;
				display: none;
				position: absolute;
				top: calc(50% - 36px);
				left: calc(50% - 36px);
			}
		}

		.details {
			font-size: 15px;

			.title {
				font-weight: bold;
				padding: 7px 0 3px;
			}
		}
	}
}