$header-toolbar-height: 64px;
$player-height: 90px;
$nav-drawer-width: 250px;
$color-accent: #448aff;
$link-color: #b0bec5;
$link-color-hover: white;
$song-icon-color: #d0d8dd;
$player-background-color: #37474f;